[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "anyenv"]
	path = anyenv
	url = https://github.com/riywo/anyenv.git
[submodule "tools/nerd-fonts"]
	path = tools/nerd-fonts
	url = https://github.com/ryanoasis/nerd-fonts.git
[submodule "tools/tidy"]
	path = tools/tidy
	url = https://github.com/htacg/tidy-html5.git
[submodule "tools/gnome-terminal-colors-solarized"]
	path = tools/gnome-terminal-colors-solarized
	url = https://github.com/Anthony25/gnome-terminal-colors-solarized.git
