snippet header
	<?xml version="1.0" encoding="UTF-8" ?>

snippet fop
	<?xml version="1.0" encoding="UTF-8" ?>
	<chapter xmlns="${1: schema}" id="${2: id}" title="${3: title}">
		${4: body}
	</chapter>

