package Devel::REPL::Profile::Dev;

use Moose;
use namespace::clean -except => ['meta'];

with 'Devel::REPL::Profile';

sub plugins {
	return qw (History Colors Completion CompletionDriver::Globals CompletionDriver::INC CompletionDriver::Keywords CompletionDriver::Methods DDC DumpHistory Multiline::PPI Packages DataPrinter);
}

sub apply_profile {
	my ($self, $repl) = @_;

	$repl->load_plugin($_) for $self->plugins;
}

1;

